.navbar-brand {
    font-family: 'Staatliches', Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.slide-title {
    font-family: 'Big Shoulders Display', Arial, Helvetica, sans-serif;
    font-size: 90px;
}